version: "3.9"
services:
  mysqldb:
    image: mysql
    volumes:
      - dbdata:/var/lib/mysql
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: idk
      MYSQL_DATABASE: idk
    ports:
        - 3306
  app:
    depends_on:
      - mysqldb
    build: .
    command: bash -c 'sleep 5; npm run start'
    restart: unless-stopped
    volumes:
      - type: bind
        source: .
        target: /app/
    ports:
      - 4000:4000
    environment:
      - PORT=5000
      - DB_HOST=mysqldb
      - DB_PASSWORD=idk
      - DB_USER=root

volumes:
  dbdata:
